:root {
    --success-color: #02897A;
    --grey-color: #22343D;
}

html * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Poppins;
    line-height: 1.6em;
    color: var(--grey-color)
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    text-decoration: none;
    color: var(--grey-color);
}

ul {
    list-style-type: none;
}

.backround {
    max-width: 1400px;
}

.main {
    width: 100%;
}

.wrapper {
    margin: 0 auto;
    width: 80%;

}

.wrapper-header {
    margin: 0 auto;
    width: 80%;

}

.logo__icon {
    display: flex;
    align-items: center;
}

.logo__img {
    margin-right: 10px;
    ;
}

.logo__img {
    padding: 15px 10px;
}

.logo__title {
    font-size: 30px;
    font-family: Poppins;
    font-weight: 700;
    color: #173A56;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    position: relative;
}

.info__categories {
    display: flex;
    padding: 0 10px;
}

.info__categories li {
    padding: 15px;
}

.info__categories li:hover {
    opacity: 0.6;
}

.info {
    display: flex;
    align-items: center;
}

.info__btn._in {
    border: 1px solid #BCD0E5;
    padding: 10px 25px;
    border-radius: 4px;
    color: #173A56;
    margin-right: 15px;
    font-weight: 600;
    white-space: nowrap;
}

.info__btn._up {
    background-color: var(--success-color);
    padding: 10px 25px;
    border-radius: 4px;
    color: #fff;
    white-space: nowrap;
}

.info__btn._up:hover {
    opacity: 0.6;
}

.info__btn._in:hover {
    opacity: 0.6;
}

.info__changeColor a {
    display: flex;
    align-items: center;
}

.info__changeColor {
    padding: 10px;
}

.info__entry {
    height: auto;
    display: flex;
}

.start {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    margin-bottom: 100px;

}

.information {
    padding-top: 11%;
    width: 50%;
}

.information__title {
    font-size: 40px;
    font-weight: 700;
    color: var(--grey-color);
    margin-bottom: 18px;
}

.information__text {
    font-size: 18px;
    color: var(--grey-color);
    margin-bottom: 60px;
}

.information__start {
    background-color: var(--success-color);
    color: #fff;
    border-radius: 4px;
    padding: 13px 35px;
    margin-right: 40px;
    white-space: nowrap;

}

.information__start:hover {
    opacity: 0.6;
}

.information__watch {
    display: flex;
    align-items: center;
    color: var(--success-color);
    text-decoration: underline;
    font-weight: 600;
    white-space: nowrap
}

.information__watch:hover {
    opacity: 0.6;
}

.information__watch__arrow {
    margin-right: 10px;
    display: flex;
    align-items: center;
}

.information__actions {
    display: flex;
}

.information__image {
    width: 60%;
    display: flex;
    align-items: center;
}

.information__image img {
    max-width: 600px;
    max-height: 555px;
    width: 100%;
}

.benefits {
    margin-bottom: 9%;
    width: 100%;
}

.benefits__title {
    width: 35%;
    margin: 0 auto;
    font-size: 32px;
    font-weight: 700;
    color: var(--grey-color);
    text-align: center;
    margin-bottom: 5%;
}

.performance {
    padding: 0 10% 0 10%;
    background-image: url('img/Bg.png');
    background-position: center bottom;
    background-repeat: no-repeat;
}

.performance__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 40px;
}

.card {
    width: 23%;
}

.card img {
    margin-bottom: 15px;
}

.card__name {
    font-size: 22px;
    font-weight: 600;
    color: var(--grey-color);
    margin-bottom: 15px;
}

.card__info {
    padding-right: 10%;
}

.performance__signUp {
    display: flex;
    justify-content: center;
}

.performance__text {
    background-color: var(--success-color);
    padding: 14px 33px;
    border-color: transparent;
    color: #fff;
    font-weight: 700;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.performance__text:hover {
    opacity: 0.6;
}

.managament p {
    color: var(--grey-color);
}

.managament {
    margin-bottom: 127px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    margin-right: 10%;

}

.main-block2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 8%;
    padding-right: 5%;
    width: 50%;
}

.advantages {
    display: flex;
    margin-bottom: 150px;

}

.advantages2 {
    display: flex;
    margin-bottom: 150px;

}

.content__boldText {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 8px;
}

.content__title {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 23px;
}

.card__img {
    display: inline-block;
    margin-bottom: 20px;
    cursor: pointer;
}

.text__title {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 12px;
}

.text__sub-discription {
    margin-bottom: 25px;
}

.text__discription {
    margin-bottom: 30px;
}

.advantages__img {
    display: flex;
    align-items: center;
    width: 50%;
}

.advantages__img img {
    width: 100%;
}

.color-img {
    max-height: 35px;
    max-width: 35px;
    margin-right: 30px;
}

.point {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.point-text {
    color: var(--grey-color);
}

.specialists {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 52px;
}

.specialists__title {
    font-size: 32px;
    color: var(--grey-color);
    font-weight: 700;
    margin-bottom: 16px;
}

.specialists__discription {
    font-weight: 500;
    width: 50%;
    text-align: center;
    color: var(--grey-color);
    margin-bottom: 32px;
}

.people {
    width: 103%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.message__avatar {
    margin: 0 16px;
}

.message {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}

.message__report {
    display: flex;
    align-items: center;
    box-shadow: 0px 2px 15px rgba(23, 58, 86, 0.1);
    border-radius: 26.5px;
    padding: 14px 22px;
}


.message__report._right {
    position: relative;
    box-shadow: 0px 2px 15px rgba(23, 58, 86, 0.1);
    border-radius: 26.5px;
    padding: 14px 22px;
}

.message__text {

    font-weight: 500;
    color: #2F281E;
}


.message__element-report._mini {
    position: absolute;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: #fff;
    background-color: red;
    left: 15px;
    top: 65px;
}

.message__element-report {
    position: absolute;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background-color: #fff;
    left: 20px;
    top: 46px;
}

.information__watch__text {
    color: var(--success-color);
}

.message__element-report._right {
    position: absolute;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: #fff;
    left: 205px;
    top: 65px;
}

.wrapper-bc {
    padding: 0 10%;
    background-image: url('img/Bg2.png');
    background-size: 100%;
    background-repeat: no-repeat;
    margin-bottom: 148px;
}

.specialists__contact {
    background-color: var(--success-color);
    color: #fff;
    font-weight: 700;
    border-radius: 4px;
    border-color: transparent;
    padding: 14px 31px;
}

.specialists__contact:hover {
    opacity: 0.6;
}

.swiper__title {
    font-size: 34px;
    font-weight: 700;
    color: var(--grey-color);
    margin-bottom: 8px;
}

.swiper__discription {
    font-weight: 500;
    color: var(--grey-color);
    margin-bottom: 33px;
}

.swiper__cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.news {
    margin-bottom: 130px;
}

.tile {
    border-radius: 8px;
    border: 1px solid rgb(190, 190, 190);
    max-width: 348px;
    width: 33%;
    cursor: pointer;
}

.tile__image {
    margin-bottom: 17px;
    max-width: 348px;
    max-height: 185px;
    width: 100%;
}

.tile__data {
    margin-bottom: 12px;
    padding-left: 24px;

}

.tile__data__bold {
    font-weight: 600;
    color: var(--grey-color);

}

.tile__title {
    font-size: 24px;
    color: var(--grey-color);
    font-weight: 700;
    margin-bottom: 40px;
    padding-left: 24px;
}

.tile__title_green {
    color: var(--success-color);
}

.swiper__circles {
    text-align: center;
}

.table__title {
    font-size: 34px;
    font-weight: 700;
    color: var(--grey-color);
    text-align: center;
    margin-bottom: 8px;
}

.table__discription {
    color: var(--grey-color);
    font-weight: 500;
    text-align: center;
    margin-bottom: 49px;
}

.subscribe {
    margin-bottom: 150px;
}

.table__packages {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;


}

.package {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    max-height: 456px;
    width: 30%;
    padding: 24px 0 32px 0;
    min-width: 250px;
    margin: 0 10px
}

.package:hover {
    background-color: var(--success-color);
}

.package:hover>.package__title {
    color: #fff;
}

.package:hover>.package__discription {
    color: #fff;
}

.package:hover>.package__option {
    color: #fff;
}

.package:hover>.package__buy {
    background-color: #fff;
    color: var(--success-color);
}

.package:hover>.price>.price__number {
    color: #fff;
}

.package:hover>.price>.price__currency>.price__dollar {
    color: #fff;
}

.package__title {
    color: var(--grey-color);
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 17px;
}

.package__discription {
    color: var(--grey-color);
    margin-bottom: 17px;
}

.price {
    display: flex;
    align-items: center;

}

.price__number {
    color: var(--success-color);
    font-size: 76px;
    font-weight: 700;
    margin-right: 10px;

}

.price__dollar {
    color: var(--success-color);
    font-size: 24px;
    font-weight: 700;
}

.price__month {
    color: #AFAFAF;
}

.package__option {
    font-weight: 500;
    color: var(--grey-color);
    margin-bottom: 13px;
}

.package__option._bottom {
    margin-bottom: 34px;
}

.package__buy {
    background-color: var(--success-color);
    border-radius: 8px;
    color: #fff;
    padding: 9px 27px;
    font-family: Montserrat;
    cursor: pointer;
}


.forma {
    width: 100%;
    padding: 5%;
    border: 1px solid #DDDDDD;
    box-sizing: border-box;
    border-radius: 20px;

}

.forma__title {
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    margin-bottom: 45px;
}

.data {
    margin-bottom: 160px;
}

.forma {
    width: 90%;
    margin: 0 auto;
}

.forma__inp {
    width: 100%;
    padding: 15px;
    background: #F5F5F5;
    border: 1px solid #E8E8E8;
    border-radius: 39px;
    margin-bottom: 20px;
    margin-bottom: 45px;
}

.forma__inp::placeholder {
    font-size: 15px;
    color: var(--grey-color);
}

textarea {
    width: 100%;
    background: #F5F5F5;
    border: 1px solid #E8E8E8;
    padding: 15px;
    margin-bottom: 45px;
    resize: none;

}

textarea::placeholder {
    font-size: 15px;
    color: var(--grey-color);
}

.forma__send {
    background-color: var(--success-color);
    color: #fff;
    font-weight: 500;
    border-radius: 35px;
    padding: 13px 54px;
    border-color: transparent;
    cursor: pointer;

}

.networks__network {
    margin-right: 10px;
    display: inline-block;
}

.networks__network:hover {
    opacity: 0.6;
}

.networks {
    padding: 0 5px;

}

.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 10px;
    margin-bottom: 25px;
}

.list__item {
    color: var(--grey-color);
    margin-bottom: 8px;
}

.list__item:hover {
    opacity: 0.6;
}

.list__title {
    font-weight: 500;
    font-size: 20px;
}


.form__title {
    font-weight: 500;
    color: var(--grey-color);
    font-size: 20px;
    margin-bottom: 34px;
}

.form__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.form__message {
    width: 325px;
    padding: 10px;
    border: 1px solid #BCD0E5;
    border-radius: 4px;
    margin-bottom: 21px;
    outline: none;


}

.forma__send:hover {
    opacity: 0.6;
}

.form__enter {
    color: #fff;
    background-color: var(--success-color);
    border-color: transparent;
    border-radius: 4px;
    padding: 8px 15px;
    font-weight: 700;
    cursor: pointer;
}

.form__enter:hover {
    opacity: 0.6;
}

.discription__text {
    text-align: center;
}

.header__menu {
    display: none;
}

.lists {
    display: flex;
    width: 45%;
    justify-content: space-around;
}

.hidden-menu {
    display: none;
}

.hidden-menu-ticker {
    display: none;
}

/* ////////////////////////////////////////////////////////////////////// */
@media (max-width: 1024px) {
    .info__categories {
        font-size: 14px;
    }

    .info__categories li {
        padding: 10px;
    }

    .logo__title {
        font-size: 25px;
    }

    .info__btn ._in {
        padding: 5px 15px;
        display: flex;
        align-items: center;
    }

    .info__btn._up {
        padding: 5px 15px;
        display: flex;
        align-items: center;
    }

    .start {
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }

    .information {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .information__image {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .card__info {
        padding: 0;
    }

    .performance__cards {
        width: 100%;
        display: flex;
        align-items: center;
    }

    .benefits__title {
        width: 80%;
    }

    .card {
        width: 40%;
        margin-bottom: 20px;
    }

    .wrapper {
        width: 90%;
    }

    .backround {
        width: 100%;
    }

    .advantages {
        flex-wrap: wrap;
        flex-direction: column-reverse;
        align-items: center;
        margin-bottom: 50px;
    }

    .advantages2 {
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        margin-bottom: 50px;
    }

    .content {
        width: 100%;
        padding: 0 20%;
    }

    .main-block2 {
        padding: 0px 20%;
        width: 100%;
    }

    .advantages__img {
        width: 70%;
        margin-bottom: 50px;
    }

    .specialists__discription {
        width: 90%;
    }

    .specialists__title {
        text-align: center;
    }

    .swiper__cards {
        justify-content: space-around;

    }

    .table__packages {
        justify-content: space-around;
    }

    .package {
        margin-bottom: 20px;
    }

    .wrapper-header {
        width: 100%;
    }

    .logo__title {
        font-size: 22px;
    }

    .message ._last {
        display: flex;
        justify-content: flex-end;
    }

    .message {
        margin-bottom: 0px;
    }

    .people__contain {
        width: 100%;
    }

    .people__contain2 {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
    }

    ._last {
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }

    .people {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .tile__title {
        padding: 0 3%;
        font-size: 18px;
    }

    .tile__data {
        padding: 0 3%;
        font-size: 14px;
    }

    .form__container {
        align-items: center;
    }

    .lists {
        margin-bottom: 15px;
        display: flex;
    }

    .footer {
        flex-wrap: wrap;
        align-items: center;
        flex-direction: column;
        padding: 0 5%;
        text-align: center;
    }

    .form {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .data {
        margin-bottom: 50px;
    }

    .footer__images {
        margin-bottom: 15px;
    }

    .subscribe {
        margin-bottom: 50px;
    }

}

/* /////////////////////////////// */
@media (max-width: 768px) {
    .specialists__discription {
        font-size: 14px;
    }

    .color-img {
        margin-right: 10px;
    }

    .point-text {
        font-size: 14px;
    }

    .tile {
        width: 70%;
        margin-bottom: 20px;
    }

    .tile__image {
        max-width: 100%;
    }

    .swiper__circles {
        display: none;
    }

    .news {
        margin-bottom: 50px;
    }

    .info {
        display: none;

    }

    .information__title {
        font-size: 33px;
    }

    .header__menu {
        display: block;
        cursor: pointer;
        padding-top: 5px;
    }

    .backround {
        width: 100%;
    }

    .wrapper-header {
        width: 100%;
    }

    .header {
        box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.25);
        padding: 0 15px;
    }

    .information__start {
        padding: 10px 15px;
        margin-right: 20px;
        cursor: pointer;
    }

    .benefits__title {
        width: 90%;
        font-size: 30px;
    }

    .information__watch {
        font-size: 14px;
    }

    .advantages__img {
        width: 100%;

    }

    .main-block2 {
        padding: 0;
    }

    .advantages {
        margin-bottom: 50px;
    }

    .advantages2 {
        margin-bottom: 50px;
    }

    .managament {
        margin-bottom: 50px;
    }

    .message__text {
        font-size: 12px;
        padding: 6px 15px;
    }

    .message__report {
        max-height: 60px;
    }

    .message__avatar {
        margin: 0 5px;
        max-height: 90px;
        max-width: 90px;
    }

    .performance__cards {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .content {
        margin: 0 auto;
        padding: 0;
    }

    .card {
        width: 80%;
        text-align: center;
        margin-bottom: 20px;
    }

    .tile {
        width: 90%;
    }

    .tile__image {
        width: 100%;
    }

    .forma {
        border-color: transparent;
        width: 100%;
    }

    .package {
        min-width: 300px;
    }

    .footer {
        flex-direction: column;
        align-items: center;
        padding: 0 5%;
    }

    .list {
        margin-bottom: 15px;
    }

    .networks {
        margin-bottom: 15px;
    }

    .form__title {
        text-align: center;
    }

    .form__container {
        align-items: center;
    }

    .form__message {
        width: 100%;
    }

    .specialists__discription {
        width: 100%;
    }

    .wrapper-bc {
        margin-bottom: 70px;
    }

    .lists {
        flex-direction: column;
    }

    .hamburger-menu {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .hidden-menu {
        display: block;
        position: fixed;
        list-style: none;
        padding: 10px;
        margin: 0px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 200px;
        background-color: white;
        height: 30%;
        top: 0;
        right: -200px;
        -webkit-transition: right .2s;
        transition: right .2s;
        z-index: 2;
        border-radius: 4px;
        -webkit-transform: translateZ(0);
        -webkit-backface-visibility: hidden;
    }

    .hidden-menu li {
        margin-left: 35px;
    }

    .hidden-menu ul {
        list-style: none;
    }

    .hidden-menu a {
        text-decoration: none;
        color: black;
        display: block;
        padding: 10px;
    }

    .hidden-menu a:hover {
        color: #173A56;
    }

    .hidden-menu-ticker {
        display: none;
    }

    .btn-menu {
        color: #fff;
        color: #12c2e9;
        padding: 7px;
        position: absolute;
        top: 22px;
        right: 10px;
        cursor: pointer;
        -webkit-transition: right .23s;
        transition: right .23s;
        z-index: 3;
        width: 40px;
        -webkit-transform: translateZ(0);
        -webkit-backface-visibility: hidden;
    }

    .btn-menu span {
        display: block;
        height: 3px;
        background-color: #173A56;
        margin: 5px 0 0;
        -webkit-transition: all .1s linear .23s;
        transition: all .1s linear .23s;
        position: relative;
    }

    .btn-menu span.first {
        margin-top: 0;
    }

    .hidden-menu-ticker:checked~.btn-menu {
        right: 160px;
    }

    .hidden-menu-ticker:checked~.hidden-menu {
        right: 0;
    }

    .hidden-menu-ticker:checked~.btn-menu span.first {
        -webkit-transform: rotate(45deg);
        top: 8px;
    }

    .hidden-menu-ticker:checked~.btn-menu span.second {
        opacity: 0;
    }

    .hidden-menu-ticker:checked~.btn-menu span.third {
        -webkit-transform: rotate(-45deg);
        top: -8px;
    }

}

@media (max-width: 320px) {
    .tile {
        width: 100%;
    }
}